@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

.carousel {
  position: relative;

  &__projects {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    will-change: transform; // Ajout pour optimiser les animations

    .carousel__card {
      flex: 0 0 22%;
      margin: 3% 1%;
      height: 380px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      box-shadow: 8px 8px 8px #0000001a;
      border-radius: 25px;
      background-color: vars.$main-color;
      padding: 15px;
      position: relative;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition:
        transform 0.5s ease,
        opacity 0.5s ease; // Transition plus fluide
      cursor: grab;
      @include mixin.breakpoint(medium) {
        flex: 0 0 calc(50% - 20px);
        padding: 5px;
        margin: 5px;
        margin-bottom: 30px;
      }
      @include mixin.breakpoint(small) {
        flex: 0 0 calc(100% - 20px);
        padding: 5px;
        margin: 5px;
        margin-bottom: 30px;
      }

      &.active {
        display: flex;
      }

      &:hover {
        transform: scale(1.03);
      }

      .image__container {
        width: 100%;
        height: 200px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 25px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          user-select: none;
        }
      }

      h3 {
        text-align: center;
        user-select: none;
      }

      p {
        margin: 0;
        text-align: center;
        user-select: none;
        padding-bottom: 20px;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  &__numslide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
  }
}
.carousel__button {
  z-index: 2;
  background-color: grey;
  opacity: 80%;
  height: 45px;
  border-radius: 50%;
}
