@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

.title__container {
  margin: 10px 50px;

  &--text {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
  }
}
