@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

.main-home {
  position: relative;
  top: -120px;
  @include mixin.breakpoint(medium) {
    top: -50px;
  }
  @include mixin.breakpoint(small) {
    top: 30px;
  }
}
.about__text {
  text-align: justify;
}
