@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

.home {
  position: relative;
  top: -120px;
  @include mixin.breakpoint(medium) {
    top: -50px;
  }
  @include mixin.breakpoint(small) {
    top: 30px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
  p {
    text-align: justify !important;
  }
}
.contact {
  @include mixin.flexRowCenterXY;
  padding: 15px;
  button {
    background-color: vars.$main-color;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0 15px;
    @include mixin.breakpoint(small) {
      font-size: 1rem;
    }
  }
}
.close {
  display: flex;
  justify-content: flex-end;
  @include mixin.breakpoint(small) {
    justify-content: center;
    padding-bottom: 10px;
  }
  button {
    position: fixed;
    margin: 0 20px;
    z-index: 1;
  }
}
