@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  background-color: #d5e2db;
  height: 150px;
  padding: 20px;
  picture {
    width: 60%;
    img {
      height: 100%;
    }
  }
  ul {
    display: flex;
    gap: 2rem;
  }
}
