@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  background-color: vars.$main-color;
  height: 150px;
  padding: 20px;

  @include mixin.breakpoint(small) {
    flex-direction: column;
    justify-content: space-between;
  }

  picture {
    width: 60%;
    @include mixin.breakpoint(medium) {
      width: 40%;
    }
    @include mixin.breakpoint(small) {
      height: 80%;
      width: 100%;
      text-align: center;
    }

    img {
      height: 100%;
    }
  }
  ul {
    display: flex;
    gap: 3rem;
    @include mixin.breakpoint(large) {
      gap: 2rem;
    }
    @include mixin.breakpoint(small) {
      gap: 5%;
      padding: 0;
    }
  }
}

nav {
  padding: 0 1rem;
  @include mixin.breakpoint(small) {
    width: 100% !important;
    padding: 0;
  }
}
