@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

.carrousel {
  position: relative;

  &__button {
    position: absolute;
    top: 50%;
    background-color: grey;
    border-radius: 50%;
    opacity: 80%;
    width: 40px;
    cursor: pointer;
    border: none;
    img {
      width: 100%;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__image {
    display: none; // Cache par défaut toutes les images du carousel

    &.active {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 415px;
      @include mixin.breakpoint(small) {
        height: 250px;
      }
    }
  }

  &__numslide {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    color: black;
    text-shadow: 1px 1px black;
  }
}
