@use '../../style/main.scss' as mainStyle;
@use '../../style/variables.scss' as vars;
@use '../../style/mixin.scss' as mixin;

footer {
  @include mixin.flexRowSpaceBet;
  align-items: center;
  background-color: vars.$main-color;
  padding: 20px;
  position: relative;
  cursor: pointer;
  @include mixin.breakpoint(small) {
    top: 30px;
  }
  img {
    height: 2rem;
  }
}
